[submodule "components/esp32-owb"]
	path = components/esp32-owb
	url = https://github.com/DavidAntliff/esp32-owb
[submodule "components/esp32-ds18b20"]
    path = components/esp32-ds18b20
    url = https://github.com/DavidAntliff/esp32-ds18b20

